.lobby-component {
  padding: 16px;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .search-engine {
    &.container {
      width: 150px;
      height: 150px;
    }
  }
  .logo {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/githubIcon.png');
    margin-bottom: 16px;
  }
}
